html, body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    background: #f9f9f9;
    color: #2d2d2d;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

textarea {
    height: auto;
    margin-top: 20px !important;
    resize: none;
    padding: 10px 15px;    
    border: 1px solid rgba(0, 0, 0, 0.3);
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a {
    margin: 0;
    color: inherit;
}
h1 {
    font-size: 40px;
    font-weight: 100;
}

p { font-weight: 500; }
.small-text {
    font-size: 12px;
}
.hidden {
    opacity: 0;
}


.space {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
}
.bold { font-weight: 900; }

.no-margin {
    margin: 0;
}

.margin-auto {
    margin: auto;
}

.align-left {
    text-align: left !important;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear::after {
    content: '';
    display: table;
    clear: both;
}

.full-width {
    position: relative;
    display: block;
    width: 100%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bg-gray {
    background: #f2f2f2;
}
.left-centered {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}
.bg-white { background: white; }
.bg-yellow { background: #ffb914; }
.bg-navi { background: #072962; }
.bg-maroon {
    background: #460109;
}
.bg-green { background: #278a0e; color: white;}
.bg-blue  { background: #74a9d0; color: white;}
.bg-red  { background: rgb(204, 44, 44); color: white;}
.cl-green { color: #278a0e; }
.cl-red { color: rgb(204, 44, 44); }

.cl-white { color: #fff; }
.zindex1 { z-index: 1; }
.zindex2 { z-index: 2; }

.container {
    position: relative;
    display: block;
    width: 80%;
    max-width: 1480px;
    margin: 0 auto;
    padding: 50px 0;
}
.align-ico-nav {
    position: relative;
    top: -6px;
}