.navbar {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 25px 15%;
    transition: 0.2s;
    z-index: 10;
}

.sticky {
    position: fixed;
    background: white;
    border-bottom: 1px solid   #2828281a ;
    transition: 0.2s;
    padding: 5px 15%;
}


.nav-up-bged {
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 15%;
}

.brand, .navi {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.sidenav-trigger {
    color: #2d2d2d;
}