
@media screen and (max-width: 1300px) {

}

@media screen and (max-width: 1025px) {
    .primary-container {
        width: 100%;
    }
    
    .box-lg {
        min-height: 100vh;
    }
    
    .sm-img-label {
        width: 100%;
    }
  
}

@media screen and (max-width: 769px) {
    
    .card-img-wrapper {
        width: 100%;
        margin-left: -10px;
    }
    .senz-product-card {
        top: 50%;
    }
    .form-grid > div {
        width: 100%;
    }
}

@media screen and (max-width: 436px) {
    #pc {
        display: none;
    }
    h1 {
        font-size: 30px;
    }
    .primary-container, .box-lg {
        width: 100%;
    }
    .card-img {
        position: relative;
        margin-right: 0;
    }
    .box-sm {
        position: absolute;
        width: 100%;
        height: 100vh;
        opacity: 0.1;
    }
    .card-img-wrapper { 
        width: 100%;
        margin: auto;
        padding: 20px;
    }
    .bg-img-label, .sm-img-label {
        position: relative;
        width: 100%;
    }
    .navi, 
    .sidenav-trigger {
        color: white;
    }
    .navbar {
        background: #1249a6;
        padding: 5% 20px;
    }
    .senz-card {
        height: 240px;
    }
    .deg-deg {
        background-image: linear-gradient(120deg, #f2f2f2 50%, #e9eef0 50%);
        background-image: -webkit-linear-gradient(120deg, #f2f2f2 50%, #e9eef0 50%);
    }
    .init-img {
        height: min-content;
        min-height: min-content;
    }
    .form-grid {
        overflow-x: visible;
    }
    .form-grid > div {
        width: 100%;
    }
    .floating-count-odd, .floating-count-even {
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
    }
}