.primary-container {
    position: relative;
    display: block;
    width: 80%;
    
    max-width: 1480px;
    margin: 0 auto;
}
.box-lg {
    height: 85vh;
    width: 70%;
}
.lh-20 {
    line-height: 15px !important;
}
.box-sm-abs {    
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.box-sm {
    display: block;
    height: 55vh;
    width: 55%;
}
.box {
    width: 120px;
    height: 120px;
    background: white;
}

.img100 {
    width: 100%;
    transition: 0.5s;
}

.img90 {
    width: 90%;
    transition: 0.5s;
}
.img100:hover,
.img90:hover,
.senz-product-card  {
    transition: 0.5s;
    cursor: url(../assets/icon_plus.png), grab;
    transform: scale(1.1);
}
.senz-btn {
    margin: 15px auto;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    letter-spacing: 2px;
    background: #1249a6;
    border-radius: 0;
}
.senz-btn:hover {
    background: #222222;
}
.sauce {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1)), url(../assets/temp.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.un-pad { padding: 0 !important; }
.saucy { background: #1249a6; }
.card-img-wrapper {
    position: relative;
    display: block;
    width: 60%;
    margin: auto;
    padding: 50px;
    margin-left: 25%;
    padding-left: 70px;    
    background-color: #f2f2f2;
    background-image: linear-gradient(30deg, #f2f2f2 50%, #e9eef0 50%);
    background-image: -webkit-linear-gradient(30deg, #f2f2f2 50%, #e9eef0 50%);
}
.full-deg {
    
    background:  #e9eef0;
}
.deg-deg {
    background-image: linear-gradient(150deg, #f2f2f2 50%, #e9eef0 50%);
    background-image: -webkit-linear-gradient(150deg, #f2f2f2 50%, #e9eef0 50%);
}
.card-img {
    position: relative;    
    margin-right: -50%;
}

.card-img-left {
    position: relative;    
    margin-left: -50%;
}

.card-img-label {
    position: absolute;
    z-index: 2;
    right: -10%;
    max-width: 60%;
    box-shadow: none;
    color: #2d2d2d;
    letter-spacing: 0;
}
.full-card-wrapper {
    width: 100%;
}
.bg-img-label,
.sm-img-label {
    width: 100%;
    background: #ffffff;
    text-transform: none;
    font-size: 15px;
    padding: 25px 25px;
    background: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    margin: 10px 0;
}
.sm-img-label {
    width: 50%;
}
.fix-h1 {
    margin: 35px 0;
    margin-left: -5px;
}

.senz-head {
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 2px;
    font-style: italic;
}

.senz-card {
    position: relative;
    display: block;
    width: 100%;
    padding: 25px;
    height: 350px;
    background: white;
}
.senz-product-card {
    position: relative;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.senz-depth {
    -webkit-box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);
    box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 0.5s;
}

 @-webkit-keyframes fade-in-bottom {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
        
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .form-grid {
      display: block;
      position: relative;
      width: auto;
      overflow-x: hidden;
  }
  .form-grid > div {
    display: block;
    position: relative;
    width: 70%;
    padding: 5% 10%;
    margin-bottom: 20px;
  }
  .form-grid > div:nth-child(odd) {
      float: left;
      background: #f2f2f2;
  }
  .form-grid > div:nth-child(even) {
    float: right;
    background: #e9eef0;
  }
  .floating-count-odd,
  .floating-count-even {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 100;
    width: 50px;
    height: 50px;
    background: #1149a5;
    text-align: center;
    line-height: 55px;
    font-size: 25px;
  }

.floating-count-odd {
    right: -25px;
}
  
.floating-count-even {
    left: -25px;
}
.distributor-card {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 20px 5px 20px;
    border: 1px solid #e2e2e2;
    background: white;
    border-left: 10px solid #1149a5;
    margin-bottom: 20px;
}
.distributor-head {
    text-transform: uppercase;
    letter-spacing: 1px;
}
.dist-margin {
    margin: 5px 0 5px 0px;
}

.distributor-footer {
    border-top: 1px solid #e2e2e2;
    padding: 5px 0px ;
    letter-spacing: 1px;
    
}
.con-fix-misc {
    padding: 20px 0;
    margin-bottom: -35px;
}
.testimonial-slider {
    height: 200px !important;
    cursor: pointer;
} 
.loader {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.7);
    z-index: 500;
}
footer > div {
    color: white;
    background: #1149a5;
    text-align: left;
    padding: 50px 0px 0px 0px;
}
.footer-header-section .footer-section-title {
    font-size: 28px;
    text-transform: none;
}
.footer-section-title {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
}


.full-width-banner {
    position: relative;
    display: block;
    width: 100%;
    padding: 25px;
    background: #f2f2f2;
    min-height: 70vh;
}